[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Serre GUI
Comment=
Exec=/usr/share/serre/autostart &
StartupNotify=false
Terminal=false
Hidden=false

